@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 320px;
    position: relative;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}